<!DOCTYPE html>
<html>
<head>
    <title>Worklist</title>
    <link rel='stylesheet' href='/static/stylesheets/bulma.css'/>
    <link rel='stylesheet' href='/static/worklist.css'/>
    <script src='/static/js/vue.js'></script>
    <script src='/static/js/vue-router.js'></script>

</head>
<body>
<div id="app">
    <section class="main-content columns is-fullheight">
        <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
            <ul class="menu-list">
                <li><router-link :to="{ name: 'main', params: { userName: 'root' }}"><span class="icon"><i class="fa fa-table"></i></span> Root</router-link>     
                    <ul>
                        <div v-if="organisation !== null" class="api list-complete-item">
                            <li    v-for="subject in organisation.subjects[0].subject">
                                            <router-link :to="{ name: 'main', params: { userName: subject.$['id'] }}">{{ subject.$['id'] }} <br/><small>{{ subject.relation[0].$['role'] }}</small></router-link>     
                            </li>
                        </div>
                    </ul>
                </li>

            </ul>
        </aside>
        <div class="container column is-10">
            <div class="section">
                <table class="table">
                    <thead>
                      <tr>
                        <th><abbr title="Position">Pos</abbr></th>
                        <th><abbr title="task">Task</abbr></th>
                        <th><abbr title="User">User</abbr></th>
                        <th><abbr title="Role">Role</abbr></th>
                        <th><abbr title="CallbackId">CallbackId</abbr></th>
                        <th><abbr title="Instance">Instance</abbr></th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr  v-for="(item, index) in worklist" class="api list-complete-item">
                            <td> {{ index }} </td>
                            <td v-if="$route.params.userName !== undefined && $route.params.userName !== 'root'"><router-link :to="{ name: item.label, params: { userName: $route.params.userName, id: item.callBackId }}">{{ item.label }}</router-link></td>
                            <td v-if="$route.params.userName == undefined || $route.params.userName == 'root'">{{ item.label }}</td>
                            <td>{{ item.assignedTo }}</td>
                            <td>{{ item.role }}</td>
                            <td>{{ item.callBackId }}</td>
                            <td>{{ item.cpeeInstance }}</td>
                        </tr>
                    </tbody>
                </table>                 
            </div>
        </div>
    </section>
    <router-view></router-view>
</div>

</body>
<script>
    // register modal component
    Vue.component('modal', {
        template: `
        <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>
            <div class="modal-body">
              <slot name="body">
                default body
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>`
    })
    let repair = Vue.component('repair', {
        template: `<modal @close="$emit('close')">
            <h3 slot="header">Order your plane!</h3>
                <div slot="body" class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question" value="Repair Body" v-model="repairType">Repair Body
                    </label>
                    <label class="radio">
                            <input type="radio" name="question" value="Repair Engine" v-model="repairType">Repair Engine
                    </label>
                    <label class="radio">
                            <input type="radio" name="question" value="Repair Avionics" v-model="repairType">Repair Avionics
                    </label>
                    <label class="radio">
                            <input type="radio" name="question" value="Repair Radio" v-model="repairType">Repair Radio
                    </label>
                </div>
                <div class="field is-grouped">
                <div class="control">
                    <button class="button is-text" @click="repairIt">Order</button>
                </div>
                <div class="control">
                    <button class="button is-link" @click="giveBack">Cancel</button>
                </div>
            </div>
            </div></modal>`,
        data: function () {
            return {
                repairType: 'Repair Engine',
                timer: null
            }
        },
        created: function () {
            this.timer = setInterval(this.ping, 1000)
        },
        destroyed: function () {
            clearInterval(this.timer)
        },
        methods: {
            ping() {
                this.$parent.putTake(this.$route.params.id, this.$route.params.userName)
            },
            repairIt() {
                let self=this;
                let id=this.$route.params.id;
                let userName=this.$route.params.userName
                self.$parent.putCPEE(id, JSON.stringify({}), function (ok, err) {
                    if(err) console.log(err);
                    self.$parent.putFinish(id, userName);
                    self.$parent.closeModal();
                })
            },
            giveBack() {
                console.log("giveBack")
                this.$parent.closeModal();
            }
        }
    });
    let customerSendsOrder = Vue.component('customerSendsOrder', {
        template: `<modal @close="$emit('close')">
                <h3 slot="header">Order your plane!</h3>
            <div slot="body" class="container">
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Your Name" v-model="name">
                </div>
            </div>           
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox"> I agree to the
                        <a href="#">terms and conditions</a>
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-text" @click="orderIt">Order</button>
                </div>
                <div class="control">
                    <button class="button is-link" @click="giveBack">Cancel</button>
                </div>
            </div>
        </div></modal>`,
        data: function () {
            return {
                name:'',
                timer: null
            }
        },
        created: function () {
            this.timer = setInterval(this.ping, 1000)
        },
        destroyed: function () {
            clearInterval(this.timer)
        },
        methods: {
            ping() {
                this.$parent.putTake(this.$route.params.id, this.$route.params.userName)
            },
            orderIt()  {
                let self=this;
                let id=this.$route.params.id;
                let userName=this.$route.params.userName
                self.$parent.putCPEE(id, JSON.stringify({ "name": self.$data.name}), function (ok, err) {
                    if(err) console.log(err);
                    self.$parent.putFinish(id, userName);
                    self.$parent.closeModal();
                })
            },
            giveBack() {
                console.log("giveBack")
                this.$parent.closeModal();
            }
        }
    });
    let customerSendsSpecification = Vue.component('customerSendsSpecification', {
        template: `<modal @close="$emit('close')"><h3 slot="header">Order your plane!</h3>
            <div slot="body" class="container">
            <div class="field">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question" value="VodkaBar" v-model="barType">VodkaBar
                    </label>
                    <label class="radio">
                            <input type="radio" name="question" value="WhiskeyBar" v-model="barType">WhiskeyBar
                    </label>
                    <label class="radio">
                            <input type="radio" name="question" value="BeerBar" v-model="barType">BeerBar
                    </label>
                    <label class="radio">
                            <input type="radio" name="question" value="SakeBar" v-model="barType">SakeBar
                    </label>
                    <label class="radio">
                            <input type="radio" name="question" value="TequillaBar" v-model="barType">TequillaBar
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-text" @click="sendIt">Send</button>
                </div>
                <div class="control">
                    <button class="button is-link" @click="giveBack">Cancel</button>
                </div>
            </div>
        </div></modal>`,
        data: function () {
            return {
                barType: 'TequillaBar',
                timer: null
            }
        },
        created: function () {
            this.timer = setInterval(this.ping, 1000)
        },
        destroyed: function () {
            clearInterval(this.timer)
        },
        methods: {
            ping() {
                this.$parent.putTake(this.$route.params.id, this.$route.params.userName)
            },
            sendIt() {
                let self=this;
                let id=this.$route.params.id;
                let userName=this.$route.params.userName
                self.$parent.putCPEE(id, JSON.stringify({ "barType": self.$data.barType}), function (ok, err) {
                    if(err) console.log(err);
                    self.$parent.putFinish(id, userName);
                    self.$parent.closeModal();
                })
            },
            giveBack() {
                console.log("giveBack")
                this.$parent.closeModal();
            }
        }
    });
    let testFlight = Vue.component('testflight', {
        template: `<modal @close="$emit('close')">
            <h3 slot="header">Perform test flight, good luck!</h3>
            <div  slot="body" class="container">
                <div class="field">
                    <div class="control">
                        <button class="button is-text">Checklist</button>
                        <button class="button is-text">Taxi</button>
                        <button class="button is-text">Start</button>
                        <button class="button is-text">Land</button>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-text"  @click="testFlightIt">Done</button>
                    </div>
                    <div class="control">
                        <button class="button is-link"  @click="giveBack">Cancel</button>
                    </div>
                </div>
            </div></modal>`,
        data: function () {
            return {
                timer: null
            }
        },
        created: function () {
            this.timer = setInterval(this.ping, 1000)
        },
        destroyed: function () {
            clearInterval(this.timer)
        },
        methods: {
            ping() {
                this.$parent.putTake(this.$route.params.id, this.$route.params.userName)
            },
            testFlightIt() {
                let self=this;
                let id=this.$route.params.id;
                let userName=this.$route.params.userName
                self.$parent.putCPEE(id, JSON.stringify({}), function (ok, err) {
                    if(err) console.log(err);
                    self.$parent.putFinish(id, userName);
                    self.$parent.closeModal();
                })
            },
            giveBack() {
                console.log("giveBack")
                this.$parent.closeModal();
            }
        }
    });
    let evaluateFlight = Vue.component('evaluateFlight', {
        template:`<modal @close="$emit('close')">
            <h3 slot="header">Evaluate test flight</h3>
            <div  slot="body" class="container">
            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" v-model="survived">I survived</input>
                    </label>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-text" @click="evaluateFlight">Send</button>
                </div>
                <div class="control">
                    <button class="button is-link" @click="giveBack">Cancel</button>
                </div>
            </div>
        </div></modal>`,
        data: function () {
            return {
                survived: false,
                timer: null
            }
        },
        created: function () {
            this.timer = setInterval(this.ping, 1000)
        },
        destroyed: function () {
            clearInterval(this.timer)
        },
        methods: {
            ping() {
                this.$parent.putTake(this.$route.params.id, this.$route.params.userName)
            },
            evaluateFlight() {
                let self=this;
                let id=this.$route.params.id;
                let userName=this.$route.params.userName
                self.$parent.putCPEE(id, JSON.stringify({ "survived": self.$data.survived}), function (ok, err) {
                    if(err) console.log(err);
                    self.$parent.putFinish(id, userName);
                    self.$parent.closeModal();
                })
            },
            giveBack() {
                console.log("giveBack")
                this.$parent.closeModal();
            }
        }
    });

    const routes = [
        { path: '/user/:userName', name: 'main'},
        { path: '/user/:userName/customerSendsOrder/:id', component: customerSendsOrder,  name: 'customerSendsOrder'},
        { path: '/user/:userName/customerSendsSpecification/:id', component: customerSendsSpecification,  name: 'customerSendsSpecification' },
        { path: '/user/:userName/testFlight/:id', component: testFlight,  name: 'testFlight' },
        { path: '/user/:userName/evaluateFlight/:id', component: evaluateFlight,  name: 'evaluateFlight' },
        { path: '/user/:userName/repair/:id', component: repair,  name: 'repair' }
    ]
    const router = new VueRouter({routes});  
    var app = new Vue({
        el: '#app',
        router: router,
        data: function () {
            return {
                worklist: [],
                userName:'susi',
                organisation: null,
                timer: null
            }
        },
        created: function () {
            this.fetchWorklist(this.$route.params.userName);
            this.fetchOrganisation();
            this.timer = setInterval(this.refresh, 700)

        },
        watch: {
            '$route': function (to, from) {
                this.fetchWorklist(to.params.userName);
            }
        },
        methods: { 
            refresh: function () {
                this.fetchWorklist(this.$route.params.userName);
            },
            closeModal: function () {
                router.push({ name: 'main', params: { userName: this.$route.params.userName }})
            },
            fetchWorklist: function (role) {
                url='/worklist';
                if(role) {
                    url+='/'+role;
                }
                var self = this;
                fetch(url, {
                    method: 'get'
                }).then(function (response) {
                    return response.json();
                }).then(function (json) {
                    self.worklist = json;
                }).catch(function (err) {
                    console.log(err);
                });
            },
            fetchOrganisation: function () {
                url='/organisation';
                var self = this;
                fetch(url, {
                    method: 'get'
                }).then(function (response) {
                    return response.json();
                }).then(function (json) {
                    self.organisation = json;
                }).catch(function (err) {
                    console.log(err);
                });
            },
            putCPEE: function (id, json, callback) {
                var self = this;
                let url = null;
                for(item of this.worklist) {
                    if(item.callBackId === id) {
                        url=item.callBack
                    }
                }
                if(url == null) {
                    console.log ("ERR cant find url for id " + id)
                    return;
                }
                fetch(url, {
                    method: 'put',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: json
                }).then(function (response) {
                    callback(response.status);
                }).catch(function (err) {
                    callback(null, err)
                });
            },
            putTake: function (callBackId, userName) {
                var self = this;
                fetch('/take', {
                    method: 'put',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({callBackId: callBackId, userName: userName})
                }).then(function (response) {
                    return;
                }).catch(function (err) {
                    console.log('err '+err)
                });
            },
            putFinish: function (callBackId, userName) {
                var self = this;
                fetch('/finish', {
                    method: 'put',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({callBackId: callBackId, userName: userName})
                }).then(function (response) {
                    console.log(response.status)
                }).catch(function (err) {
                    console.log('err '+err)
                });
            },
            putGiveBack: function (callBackId, userName) {
                var self = this;
                fetch('/giveBack', {
                    method: 'put',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({callBackId: callBackId, userName: userName})
                }).then(function (response) {
                    console.log(response.status)
                }).catch(function (err) {
                    console.log('err '+err)
                });
            },
        }
    });
</script>